*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eff4ff;
    color: #000;
    padding: 70px 25px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formbx{
    position: relative;
    margin-top: 50px;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 10px 10px gray;
}

.form{
    margin-top: 25px;
}

.form-box{
    margin-bottom: 10px;
}

select, input{
    border-radius: 15px;
    outline: none;
    border: 2px solid gray;
    width:100%;
    padding: 5px 10px;
    margin-top: 4px;
    cursor: pointer;
}

.CA{
    width: 100%;
    background: linear-gradient(to right, #008cff, #e100ff);
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    margin-top: 25px;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.instruction-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    background: #eff4ff;
    box-shadow: 3px 3px gray;
    color: #000;
    padding: 5px;
    cursor: pointer;
}

.bxs-note{
    color: #6383fa;
    font-size: 22px;
}

#popup{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%) scale(0.1);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: all 0.05s ease-out;
    text-align: justify;
}

#popup p{
    margin-bottom: 10px;
}

#popup.active{
    transform: translateY(-50%) scale(1.0);
    visibility: visible;
}

.popupbtn{
    position: absolute;
    color: #0d5ffd;
	font-weight: 600;
	font-size: 15px;
    text-decoration: none;
    text-align: right;
	cursor: pointer;
    top:20px;
    right:20px;
    font-size: 30px;
}

.ins p{
    margin-bottom: 25px;
    background: #fff;
    margin-top: 35px;
    border-radius: 5px;
    padding: 3px 10px;
    box-shadow: 2px 2px #afc6f3;
}

@media(max-width:650px){
    .head{
        font-size: 19px;
    }
	body{
	padding: 20px 40px;
	}
  }
